*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    display: flex;
    justify-content: center;
    padding-top: 50px;
}
.calculator{
    background-color: black;
    border-radius: 50px;
    color: white;
    height: 710px;
    width: 430px;
    position: relative;
    align-items: flex-end;
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    margin: 20px;
    
    
   
}
.button-container{
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    justify-content: center;
    align-items: center;
    margin-left: 10px;
   
   
}

.button{
    align-items: center;
    background-color: #333;
    border-radius: 44px;
    cursor: pointer;
    display: flex;
    font-size: 45px;
    height: 85px;
    width: 85px;
    justify-content: center;
    font-family:  'Poppins', sans-serif;
    
}

.button.function{
    color: black;
    background: #a5a5a5;
}

.button.operator{
    background: #f1a33c;
}
.button.number-0{
    border-radius: 40px;
    grid-column: 1 / span 2;
    justify-content: flex-start;
    padding-left: 23px;
    width: 200px;
}
.button:active,
.button:focus{
    filter: brightness(120%);
}
